:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(209, 61%, 16%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 620px;
}

img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.card {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1000px; */
}


.review_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}